tabbed-window-link {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  display: flex;
  flex: 1 1 auto;

  &.active {
    color: rgba(0, 0, 0, 1);
    background-color: #a0a0a0c0;
    box-shadow: #404040 0px 0px 3px 0px;
  }

  & > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }

  & > .close-tab-button {
    text-align: center;
    font-family: Consolas;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background-color: #404040;
    }
  }
}
