tabbed-window-header {
  background-color: #808080;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;

  & > .links {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex: 1 1 auto;
    overflow: auto;
  }

  & > .new-tab-button {
    text-align: center;
    font-family: Consolas;
    cursor: pointer;
    border-radius: 25%;
    padding: 4px;
    width: 16px;
    height: 16px;
    margin: 0;

    &:hover {
      background-color: #404040;
    }
  }
}
